
.container{
    display: flex;
    background-color: rgba(255,255,255);
    justify-content: space-between;
    align-items: center;
    height:13rem;
    padding-left: 3rem;
    padding-right: 3rem;

}

.image{
    border-radius: 1rem;
    width:15rem;
    height:10rem;
    margin-right: 2rem;
}

.firstHeader{
    display: flex;
}

.secondHeader{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size:40px;
    font-family: "Zen Tokyo Zoo" ,"serif" ;
    margin-top:3rem;
}
a{
    outline: none;
    color: rgb(158,158,158);
    text-decoration: none;
    font-style: "Roboto";
    margin-right:3rem;
    font-size:1.3em;
}
a:hover{
    color:black;
}